body {
  font-size: 2em;
  font-family: open sans;
  margin: 0 auto;
  width: 50vw;
  background-color: deeppink;
  color: #fff;

  transition: all 0.25s;
}

body.animate {
  background-color: purple;
}

h1 {
  color: purple;
  transition: all 0.25s 0.5s ease-in;
}
body.animate h1 {
  color: pink;
}

p {
  transition: all 0.25s 0.5s ease-in;
  padding: 1em;
  margin: 1em -1em;
  background-color: rgba(0, 0, 0, 0.3);
}
body.animate p {
  transform: translateX(5em);
  background-color: rgba(0, 0, 0, 0.1);
}

button {
  background-color: gold;
  border-radius: 0.25em;
  font-size: inherit;
  padding: 0.25em 0.5em;
  border: 0;
  box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.25);
  transition: 0.25s;
}
button:focus {
  box-shadow: none;
  transform: scale(0.9);
}
